<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Maven Studio" />
<meta name="keywords" content="life,code,software,development,photography" />
<meta name="author" content="Maven" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<!-- TODO: Figure out rss feed -->
<title>Maven Studio - ma's tech blog</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>Maven<span class="fade">studio</span></a></h1>
		<div class="slogan">
				<a href="/code.html" class="pink">code{web}</a> :|: 
				<a href="/os.html" class="green">software{apple}</a> :|: 
				<a href="/life.html" class="orange">life{me}</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">
    <a href="http://flickr.com/photos/maweiba">photograpy</a> ||
    <a href="http://tumblr.com">tumblog</a> ||
    <a href="http://twitter.com/maweis1981">twitter</a>

<p>&copy; 2010 <a href="/about.html">Maven</a>

</div>

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-7636461-1");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>

